<section
  class="vh-100
    bg-size-cover
    bg-position-center
    bg-repeat-no-repeat
    bg-attachment-fixed"
  style="background-image: url('./assets/images/banner.jpg');"
>
  <div class="container">
    <div class="d-flex
      align-items-center
      vh-100
      text-light"
    >
      <div class="offset-lg-1">
        <h2
          class="page__title mb-2"
          data-aos="fade-left"
          data-aos-duration="1300"
        >
          台北當代藝術展
          <span class="d-block
            mt-1
            fs-6"
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="100"
          >
            01 JUN - 31 OCT
          </span>
        </h2>

        <div>
          <a
            href="./taiwanDesignExhibition.html"
            class="btn btn-secondary
              me-sm-2 me-md-1
              py-1.25
              px-3.5 px-sm-6.5 px-md-6"
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="300"
          >
            購買票券
          </a>
          <a
            href="./designExhibitionPage.html"
            class="btn btn-outline-light
              py-1.25
              px-3.5 px-sm-6.5 px-md-6"
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="400"
          >
            詳細資訊
          </a>
        </div>
      </div>
    </div>
  </div>
</section>