<section
  class="vh-100
    bg-size-cover bg-position-center bg-repeat-no-repeat bg-attachment-fixed"
  style="background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632300949433.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=nkwCy%2BX9nsxgdWLzqUB0Oew8IAvmfK1WjkVyb7ffyOIlLkNSvPLkzmZlWP7FkiB%2FzVsOkHXyEVTlakQzh3H4U1X0WwE0WjOtIriLk7lAufNB8%2FccXe8z7Cv2bpf5SffHzO%2FsP8pXqGBM9NVN%2FpGhVIFV5ehsZ3DmgjCdny45GwSJm3J8pasOiCrVbFuVr8aeAX1Tqi5lNTMKtQqtppUruCPo9Peaokqnuhn5wlWTvdZGD9Veuc9hkIT6ZhdsnM7g3%2Fi45yKAX0nIQumKwP55VJykfif9EULL3pT23O1x%2F498zARe7WinUm7kD3AgRDerNdski%2BwAPsfRGJ40HJsASw%3D%3D');"
>
  <div class="container">
    <div class="d-flex align-items-center
      vh-100 text-light"
    >
      <div class="offset-lg-1">
        <h2
          class="pages__title mb-8 text-shadow-1"
          data-aos="fade-left"
          data-aos-duration="1300"
        >
          台北當代藝術展
          <span class="d-block mt-4 fs-6"
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="100"
          >
            01 JUN - 31 OCT
          </span>
        </h2>

        <div class="d-flex">
          <div
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="300"
          >
            <a
              href="./taiwanDesignExhibition.html"
              class="btn btn-secondary
                me-8 me-md-4
                py-5 px-14 px-sm-26 px-md-24"
            >
              購買票券
            </a>
          </div>
          <div
            data-aos="fade-left"
            data-aos-duration="1300"
            data-aos-delay="400"
          >
            <a
              href="./designPage.html"
              class="btn btn-outline-light
                py-5 px-14 px-sm-26 px-md-24"
            >
              詳細資訊
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>