<div
  class="modal fade js-sign-in-modal"
  tabindex="-1"
  aria-labelledby="signInModal"
  aria-hidden="true"
>

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border">
      <div class="modal-header border-bottom">
        <h3 class="modal-title
          fs-6 fw-bold text-center
          w-100"
        >
          登入
          <span class="fw-light">
            sign in
          </span>
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">

        <form class="js-modal-login-check">
          <ul class="mb-10">
            <li class="mb-10">
              <label
                for="userEmail"
                class="form-label mb-2"
                required
              >
                帳號
              </label>
              <input
                type="email"
                name="Email"
                placeholder="請輸入 Email"
                id="userEmail"
                class="form-control js-modal-login-input js-user-email"
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>
            </li>

            <li class="mb-15">
              <label
                for="userPassword"
                class="form-label mb-2"
              >
                密碼
              </label>
              <input
                type="password"
                name="密碼"
                placeholder="請輸入密碼"
                id="userPassword"
                class="form-control js-modal-login-input js-user-password"
                autocomplete="on"
                pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$!%*?&]{1})[A-Za-z\d@#$!%*?&]{8,}$'
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>

              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-sm
                    border__bottom__hover
                    border-0 p-0 
                    shadow-none"
                >
                  忘記密碼 ?
                </button>
              </div>
            </li>
            
            <li class="mb-4 position-relative">
              <div class="disabled-style"></div>
              <button
                type="submit"
                class="btn btn-secondary
                  js-form-submit-btn
                  js-login-btn
                  w-100 py-5"
              >
                登入
              </button>
            </li>
          </ul>

          <ul class="pb-8">
            <li>
              <h3 class="modal-title
                fs-6 fw-bold text-center
                border-top py-5
                w-100"
              >
                快速登入
              </h3>
            </li>
            <li>
              <ul class="d-flex justify-content-center">
                <li class="me-8">
                  <a
                    href="https://accounts.google.com/signin/v2/identifier?hl=zh-TW&passive=true&continue=https%3A%2F%2Fwww.google.com.tw%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin/"
                    class="js-tooltip text-gray-300 colorHover--secondary d-block"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Google 快速登入"
                  >
                    <i class="bi bi-google fs-4"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://zh-tw.facebook.com/login/web/"
                    class="js-tooltip text-gray-300 colorHover--secondary d-block"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Facebook 快速登入"
                  >
                    <i class="bi bi-facebook fs-4"></i>
                  </a>
                </li>
              </ul>
            <li>
          </ul>

          <ul>
            <li>
              <h3 class="modal-title
                fs-6 fw-bold text-center
                border-top py-5
                w-100"
              >
                沒有帳號？
              </h3>
            </li>

            <li>
              <button 
                type="button"
                class="btn btn-outline-primary
                  js-sign-up-modal-btn
                  w-100 py-5"
              >
                前往註冊
              </button>
            </li>
          </ul>
        </form>

      </div>
    </div>
  </div>
</div>


<div
  class="modal fade js-sign-up-modal"
  tabindex="-1"
  aria-labelledby="signUpModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border">
      <div class="modal-header border-bottom">
        <h3 class="modal-title fs-6 fw-bold text-center w-100"
        >
          註冊
          <span class="fw-light">
            sign up
          </span>
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">

        <form class="js-modal-sign-up-check">
          <ul class="mb-10">
            <li class="mb-10">
              <label
                for="singUpUserEmail"
                class="form-label mb-2"
              >
                帳號
                <span class="text-danger">*</span>
              </label>
              <input
                type="email"
                name="Email"
                placeholder="請輸入 Email"
                id="singUpUserEmail"
                class="form-control js-modal-sign-up-input js-user-email"
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>
            </li>

            <li class="mb-10">
              <label
                for="singUpUserPassword"
                class="form-label mb-2"
              >
                密碼
                <span class="text-danger">*</span>
              </label>
              <input
                type="password"
                name="密碼"
                placeholder="請輸入密碼"
                id="singUpUserPassword"
                class="form-control js-modal-sign-up-input js-user-password"
                autocomplete="on"
                pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$!%*?&]{1})[A-Za-z\d@#$!%*?&]{8,}$'
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>
            </li>

            <li class="mb-10">
              <label
                for="singUpUserName"
                class="form-label mb-2"
              >
                用戶名稱
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                name="用戶名稱"
                placeholder="請輸入用戶名稱"
                id="singUpUserName"
                class="form-control js-modal-sign-up-input js-user-name"
                pattern='^^[a-zA-Z\s\d]+$'
                minlength="2"
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>
            </li>

            <li class="mb-20">
              <label
                for="singUpUserPhone"
                class="form-label mb-2"
              >
                手機
                <span class="text-danger">*</span>
              </label>

              <input
                type="tel"
                name="手機"
                placeholder="請輸入手機號碼"
                id="singUpUserPhone"
                class="form-control js-modal-sign-up-input js-user-phone"
                pattern="^09\d{8}$"
                maxlength="10"
                required
              >
              <p class="js-validate-msg
                validate-msg
                fs-8 text-danger text-end
                pt-2"
              ></p>
            </li>

            <li class="position-relative">
              <div class="disabled-style"></div>
              <button
                type="submit"
                class="btn btn-secondary
                  js-form-submit-btn
                  w-100 py-5"
              >
                註冊
              </button>
            </li>
          </ul>

          <ul class="pb-8">
            <li>
              <h3 class="modal-title
                fs-6 fw-bold text-center
                border-top py-5
                w-100"
              >
                快速註冊
              </h3>
            </li>
            <li>
              <ul class="d-flex justify-content-center">
                <li class="me-8">
                  <a
                    href="https://accounts.google.com/signin/v2/identifier?hl=zh-TW&passive=true&continue=https%3A%2F%2Fwww.google.com.tw%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin/"
                    class="js-tooltip text-gray-300 colorHover--secondary d-block"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Google 快速註冊"
                  >
                    <i class="bi bi-google fs-4"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://zh-tw.facebook.com/login/web/"
                    class="js-tooltip text-gray-300 colorHover--secondary d-block"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Facebook 快速註冊"
                  >
                    <i class="bi bi-facebook fs-4"></i>
                  </a>
                </li>
              </ul>
            <li>
          </ul>

          <ul>
            <li>
              <h3 class="modal-title
                fs-6 fw-bold text-center
                border-top py-5
                w-100"
              >
                已有帳號？
              </h3>
            </li>

            <li>
              <button 
                type="button"
                class="btn btn-outline-primary
                  js-sign-in-modal-btn
                  w-100 py-5"
              >
                前往登入
              </button>
            </li>
          </ul>

        </form>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade js-video-modal"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="videoModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content border">
      <div class="modal-header border-bottom">
        <h3 class="modal-title fs-6 fw-bold text-center w-100"
        >
          開幕對談 | 藝術展演巡禮
        </h3>
        <button
          type="button"
          class="btn-close js-btn-close-video"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <iframe
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="js-video-iframe w-100 h-x5.59"
        ></iframe>
        <h4 class="fw-bold text-center mb-4">
          臺北現代聯合總監｜Ken Hsu
        </h4>
        <p class="text-center">
          獨家由藝術家、策展人、畫廊總監帶您欣賞台 北藝術特展，感受雕塑、展演及當代日常文化 之間微妙的關係。
        </p>
      </div>
    </div>
  </div>
</div>