<div
  id="offcanvasRight"
  class="offcanvas offcanvas-end top-78
    w-5xl
    ps-8 ps-md-16
    pe-8
    bg-dark"
  tabindex="-1"
  data-bs-scroll="true"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header
    ps-0
    pe-8 pe-md-16
    pt-10 pt-md-16
    pb-6"
  >
    <h3 id="offcanvasRightLabel"
      class="fs-3 text-light"
    >
      Cart List
    </h3>
  </div>
  <ul class="offcanvas-body
    p-0 pe-8
    overflow-y-scroll
    scrollbar"
  >

    <li class="card mb-4 mb-md-6 rounded-1">
      <button
        type="button"
        class="btn-close mt-2 ms-2"
        aria-label="Close"
      ></button>

      <div class="px-8 px-md-16
        pt-4 pt-md-2
        pb-8 pb-md-12"
      >
        <div class="card flex-row align-items-center">

          <div class="ratio ratio-1x1
            img-position-center w-1xl h-1xl"
          >
            <img
              src="./assets/images/exhibition/exhibition-3.jpg"
              alt="購部車清單商品預覽圖_1"
              class="w-100"
            >
          </div>

          <div class="card-body d-flex ms-8">
            <div>
              <h4 class="card-title
                fs-7 fw-bold
                mb-2"
              >
                2020 台味設計展
              </h4>

              <p class="fw-normal mb-7">
                01 JUN — 31 OCT
                <span class="fw-light text-gray-300
                  mt-2
                  d-block"
                >
                  全票
                </span>
              </p>

              <p class="pages__text__2 fw-bold">
                NT$350
              </p>
            </div>

            <div class="d-md-flex
              flex-md-row-reverse
              justify-content-center
              align-items-center
              ms-auto"
            >
              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100"
              >
                +
              </button>

              <p class="pages__text__2 fw-bold text-center
                p-4"
              >
                01
              </p>

              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100 px-5"
              >
                —
              </button>
            </div>
          </div>

        </div>
      </div>
    </li>

    <li class="card mb-4 mb-md-6 rounded-1">
      <button
        type="button"
        class="btn-close mt-2 ms-2"
        aria-label="Close"
      ></button>

      <div class="px-8 px-md-16
        pt-4 pt-md-2
        pb-8 pb-md-12"
      >
        <div class="card flex-row align-items-center">

          <div class="ratio ratio-1x1
            img-position-center w-1xl h-1xl"
          >
            <img
              src="./assets/images/exhibition/exhibition-5.jpg"
              alt="購部車清單商品預覽圖_2"
              class="w-100"
            >
          </div>

          <div class="card-body d-flex ms-8">
            <div>
              <h4 class="card-title
                fs-7 fw-bold
                mb-2"
              >
                No.22 線上設計展
              </h4>

              <p class="fw-normal mb-7">
                01 JUN — 31 OCT
                <span class="fw-light text-gray-300
                  mt-2
                  d-block"
                >
                  全票
                </span>
              </p>

              <p class="pages__text__2 fw-bold">
                NT$350
              </p>
            </div>

            <div class="d-md-flex
              flex-md-row-reverse
              justify-content-center
              align-items-center
              ms-auto"
            >
              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100"
              >
                +
              </button>

              <p class="pages__text__2 fw-bold text-center
                p-4"
              >
                01
              </p>

              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100 px-5"
              >
                —
              </button>
            </div>
          </div>

        </div>
      </div>
    </li>

    <li class="card mb-4 mb-md-6 rounded-1">
      <button
        type="button"
        class="btn-close mt-2 ms-2"
        aria-label="Close"
      ></button>

      <div class="px-8 px-md-16
        pt-4 pt-md-2
        pb-8 pb-md-12"
      >
        <div class="card flex-row align-items-center">

          <div class="ratio ratio-1x1
            img-position-center w-1xl h-1xl"
          >
            <img
              src="./assets/images/exhibition/exhibition-1.jpg"
              alt="購部車清單商品預覽圖_3"
              class="w-100"
            >
          </div>

          <div class="card-body d-flex ms-8">
            <div>
              <h4 class="card-title
                fs-7 fw-bold
                mb-2"
              >
                高雄設計節
              </h4>

              <p class="fw-normal mb-7">
                01 JUN — 31 OCT
                <span class="fw-light text-gray-300
                  mt-2
                  d-block"
                >
                  全票
                </span>
              </p>

              <p class="pages__text__2 fw-bold">
                NT$350
              </p>
            </div>

            <div class="d-md-flex
              flex-md-row-reverse
              justify-content-center
              align-items-center
              ms-auto"
            >
              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100"
              >
                +
              </button>

              <p class="pages__text__2 fw-bold text-center
                p-4"
              >
                01
              </p>

              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100 px-5"
              >
                —
              </button>
            </div>
          </div>

        </div>
      </div>
    </li>

    <li class="card rounded-1">
      <button
        type="button"
        class="btn-close mt-2 ms-2"
        aria-label="Close"
      ></button>

      <div class="px-8 px-md-16
        pt-4 pt-md-2
        pb-8 pb-md-12"
      >
        <div class="card flex-row align-items-center">

          <div class="ratio ratio-1x1
            img-position-center w-1xl h-1xl"
          >
            <img
              src="./assets/images/exhibition/exhibition-6.jpg"
              alt="購部車清單商品預覽圖_4"
              class="w-100"
            >
          </div>

          <div class="card-body d-flex ms-8">
            <div>
              <h4 class="card-title
                fs-7 fw-bold
                mb-2"
              >
                裝置藝術設計展
              </h4>

              <p class="fw-normal mb-7">
                01 JUN — 31 OCT
                <span class="fw-light text-gray-300
                  mt-2
                  d-block"
                >
                  全票
                </span>
              </p>

              <p class="pages__text__2 fw-bold">
                NT$350
              </p>
            </div>

            <div class="d-md-flex
              flex-md-row-reverse
              justify-content-center
              align-items-center
              ms-auto"
            >
              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100"
              >
                +
              </button>

              <p class="pages__text__2 fw-bold text-center
                p-4"
              >
                01
              </p>

              <button
                type="button"
                class="btn btn-outline-dark
                  border-0
                  pages__text__2 fw-bold
                  w-100 px-5"
              >
                —
              </button>
            </div>
          </div>

        </div>
      </div>
    </li>

  </ul>

  <div class="d-flex
    justify-content-between
    align-items-center
    pages__text__2
    pe-8 pe-md-16
    pt-10 pt-md-9
    pb-14 pb-md-12"
  >
    <p class="fw-normal text-light">
      <span class="pe-12">
        小計
      </span>
      NT$1050
    </p>
    <a
      href="./cart.html"
      class="btn btn-light text-primary
      py-5 px-14"
    >
      前往結帳
    </a>
  </div>
</div>