<div>
  <h1 class="d-block d-sm-none p-2.75 border text-secondary">ssm 模式</h1>
  <h1 class="d-none d-sm-block d-md-none p-2.75 border text-secondary">sm 模式</h1>
  <h1 class="d-none d-md-block d-lg-none p-2.75 border text-secondary">md 模式</h1>
  <h1 class="d-none d-lg-block d-xl-none p-2.75 border text-secondary">lg 模式</h1>
  <h1 class="d-none d-xl-block d-xxl-none p-2.75 border text-secondary">xl 模式</h1>
  <h1 class="d-none d-xxl-block d-none p-2.75 border text-secondary">xxl 模式</h1>
</div>