<footer>
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center"
      data-aos="flip-up"
      data-aos-duration="1300"
      data-aos-offset="0"
    >
      <h4 class="d-flex d-md-block
        flex-column flex-md-row
        py-8 py-md-0
        text-dark fw-light"
      >
        <a
          href="./index.html"
          class="d-inline-block
            py-0 py-md-14
            fs-5 lh-1
            link-dark"
        >
          EXHIBINECTION
        </a>
        <span class="ms-0 ms-md-8
          fs-7 lh-lg"
        >
          © 2020. All Rights Reserved.
        </span>
      </h4>

      <ul class="d-none d-md-flex align-items-center">
        <li class="nav-item mx-1">
          <a
            href="javascript:;"
            class="js-sign-in-modal-btn nav-link
              border__bottom__secondary
              px-6
              fs-7 lh-lg"
            aria-current="page"
          >
            Sign in
          </a>
        </li>
        <li class="nav-item mx-1">
          <a
            href="javascript:;"
            class="js-sign-up-modal-btn nav-link
              border__bottom__secondary
              px-6
              fs-7 lh-lg"
          >
            Sign up
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>