<section class="py-12 py-md-30">
  <div class="container">
    <h2
      class="pages__title"
      data-aos="fade-right"
      data-aos-duration="1200"
    >
      猜你也喜歡...
    </h2>

      <div
        class="overflow-hidden w-100"
        data-aos="fade-left"
        data-aos-duration="1200"
      >

        <div class="swiper-container js-swiper overflow-hidden">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <a
                href="./onlineDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301792011.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=gAccVyUjdzlmFXaFwmYZ8vSFiQd%2FJams2aPSx4putMm9vuFIB%2BzisNp6oR%2F%2BtbXptSHY197%2BOwMfa%2B7i1sOfpAdjwB6QK42LA2Ib3vCNGw%2B9ymWUZCBHbSP8%2BQ8UPrwfZU3KV3NoxsHOEk%2Fu2aetOffSK30hCJlDwrwSk7HIPE3uF1bQtByha7Shj5%2FhPWUA6aAphKdDbDa3M8Q0AUvWWc5i%2FY1ikvWGykcsXoe0Xm1zYrJTArBXsXb%2FOgNNyCaPuPu1bg%2FeYnZ820QjUB2fRR%2BQHH9Dl2RODlI6S7vtP0au84mwORVqs5hvC6B6ikX4Fl6jeU9X4F%2BkZBmqElusRQ%3D%3D"
                      alt="No.22 線上設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      No.22 線上設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301930762.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=a8mPmypH86uhQXw9Qj5ymwKhz0TtkP27v5QNODC26qNXaVGs1FkNelgerN1P0jwMwyANZIfC76oMdgzirY0CfD2DVjhluZLkdlRdITvLkhiGbFmudHIJ2UGfIgZwcoHNiX690zihjDMC9myFm5fvRtm1IXzOWhOfJKpVMZujVrwbHXF9Ik%2Bm%2FpQmJAmYfqDm0dKZsgb2r7i4Sw7t5X5HhujToCJiMX9khiv412UQyot%2BEKbXpGmeznvMhveMT7zf2NiNPVNSYZbbrw8xy4VMLZN1x7AWs8rTTjwSHCmhJgzR0e1FoELKTPGJ035rzBu4DFmp7B6CcuFjwgRfZPG5nA%3D%3D"
                      alt="行為藝術設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      行為藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301980030.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=gp%2BUlJt%2B%2F%2FLq2EO7OvmGw4SDN2Z9h%2FCIjokUss%2FTYNAeLrv9XjK4jIo9JCDvJbyB6CJWO0Js6p%2FkwNvOw%2F4jPXTvjA4d5%2FrxjhajHxhlcqv6%2BJyElmKy7DtzqoGCsDv%2Fn%2BaZruvvJhyJGwFSst%2BnC636Hv3JChDMcS4nMECLc4tfpHp5i5sQDkpeVnITnnBXkLqB4XurN7inE36%2FuDhjLevVOwd1vwDYOfsrEy9N2zz3kyvfIAMFdh2jgYWGxODGW8iMIENFmOMvXxOjsWMSUEj3O30MvTlY8dHZXmlm7EDSZpSaj%2FEpdAfh1PurX%2Fg34z3X8k5ZO2Bqb%2F3349V%2B2g%3D%3D"
                      alt="瘋狂科學展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      瘋狂科學展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632302002762.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=p6QRLmALyBFQ7gM9t5iP4rfwf92dR7zg9jV2f5jeQ86yZWVGv1QVbu23D58UeqgVJEA3L3hip2UbUST7hkkkTMM%2F7VBVO4KZpOc6iSRgi%2FE3O1FIpESZfal4xzTjw28N1lDoidEXC%2BK81Kr9KQ4j8tXYodTbQaQo4TG9QahIngp5H%2BdbsVp5zJjPufOySdAZS1pCtAqsA1Rl05tuCu3nAlL6HHrF2Ox8ZVAHQ0fHZqfGBwDacvaz0W%2FsZ0pdQp8TeESbReupXFAY8Lt5XQCf0e03y%2By8G%2BVCtA6Hd20%2Bp22Efxtxuz%2FshKMuhkSfbnN3xKrYLA1WgsfAqsdofTrrrQ%3D%3D"
                      alt="裝置藝術設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      裝置藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301710711.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=MRgCtWkKK%2BKMUfFEtoZyyldYxWGfeAtOWf4YXVgUWl9MRYqKao5279rVKfuOZPZOguH0FDGOo1FIzUHnGyoy0ahQ7xxJ1spC7ACUut2uUwN0fWUWUtSEwXGzWKXg1lNGGk6P81qUiPVYtlSmeIOE6yq9vWsGZdRZHL6w5ofePKMqQI02TXFZlho4jDIbU%2BxIzt%2FzrAS9DeEzxiPoL8OBVXKC5u0zhENqpjYl01Lb1fFhHhJfZaJT6Nd7YKuuZZBmpdjJ3EETiSKt9LdJ463AIiVnEmUJ2%2BEUONZWSB4KEWv53pD80y508wd6sDAhv9q%2BBSWkS8QgzPRdb9BT0OpN7g%3D%3D"
                      alt="2020 台味設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      2020 台味設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                    src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301957653.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=QXPr2VAhf0fY4Ppo30yqm3sUgChEH%2Bf%2FL3AOWnzm6BT%2B2ROlUSb4olDMbEO4oIoqYW37gPJu3XYNO2Cf0bRNGV7JPM8EOVOlMN1yjICcRTadtHjEWCY%2FGOhaCzZznUYBR4qm0igDoBltl2LHknW4m7FOq4baVbXtX89ApYZXNCUoJmXoMS17DtzPIvjlmK%2Bah5ZeyVpku3mw3U9ZefTCUDYMaTDQnBr1y9wDIWR%2FAqvEWqszYzELPqcyOVq5HCs61r45raPWgWVsawSKuRur%2Bc%2FBahY5T9ysFtyA09AJ9pyU9gJt97DFE5rtALjpDs4bd0KHoQFaYuZFhPoFka6QAQ%3D%3D"
                      alt="金屬與藝術 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      金屬與藝術
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./kaohsiungDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/toriha_vuetestapi/1632301874470.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=FpmHjjyiHIAcUqguIn2LUHU3wNafvKtjU%2FUPCq6BYAkfUf2Vj8gAPmM9pcaxchrmKCO3yIy0Ji8tnazoy4qlEztE0LLq8XNJBaGKAXTgRiYnJcRF0mzypHFWg%2FfguV9CbMupB%2F6Hk%2FbEPQtqgQB49m%2BhgSfIlf%2Bi7MaOPU50hBmgVg5c8evMPOGK3DFx2IXqstRBuvQ67tbG58MyNaxju3C6egSzHAvhHmWFpKoBnsgRkc00CXCZ9Z9qFkJmrA0EjpVSZGyuMGlVFNiG7tgdga0cLX%2Fbu8fquF%2BqNye8QZvSPWGYPabr7XPO%2FKw8Rvi8R4UMsMMfx2PtkisjSM5B4w%3D%3D"
                      alt="高雄設計節 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      高雄設計節
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

  </div>
</section>