<section class="py-12 py-md-6xl">
  <div class="container">
    <h2 class="index__title">
      猜你也喜歡...
    </h2>

    <ul class="row justify-content-end">
      <li class="col-lg-4 mb-8 mb-lg-0">
        <!-- <div class="img-position-center
          min-height-md-3 min-height-3
          mb-4 mb-lg-2"
        >
          <img
            src="./assets/images/exhibition/exhibition-4.jpg"
            alt="No.22 線上設計展"
            class="w-auto h-100
              h-md-auto w-md-100
              h-lg-100 w-lg-auto"
          >
        </div>
        <h3 class="pages__text__2 fw-bold">
          No.22 線上設計展
          <span class="d-block mt-2 fw-light">$350</span>
        </h3> -->

        <div class="col-md-5 col-xl-4
          img-position-center
          h-3xl h-md-auto"
        >


        <div class="card border">
          <div class="img-position-center">
            <img 
              src="./assets/images/exhibition/exhibition-4.jpg"
              alt="..."
              class="card-img-top
                min-height-md-3 min-height-3"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </li>

      <li class="col-lg-4 mb-8 mb-lg-0">
        <div class="img-position-center
          min-height-md-3 min-height-3
          mb-4 mb-lg-2"
        >
          <img
            src="./assets/images/exhibition/exhibition-5.jpg"
            alt="No.22 線上設計展"
            class="w-auto h-100
              h-md-auto w-md-100
              h-lg-100 w-lg-auto"
          >
        </div>
        <h3 class="pages__text__2 fw-bold">
          No.22 線上設計展
          <span class="d-block mt-2 fw-light">$350</span>
        </h3>
      </li>

      <li class="col-lg-3">
        <div class="img-position-center
          min-height-md-3 min-height-3
          mb-4 mb-lg-2"
        >
          <img
            src="./assets/images/exhibition/exhibition-6.jpg"
            alt="No.22 線上設計展"
            class="w-auto h-100
              h-md-auto w-md-100
              h-lg-100 w-lg-auto"
          >
        </div>
        <h3 class="pages__text__2 fw-bold">
          No.22 線上設計展
          <span class="d-block mt-2 fw-light">$350</span>
        </h3>
      </li>
    </ul>
  </div>
</section>