<section class="py-12 py-md-6xl">
  <div class="container">
    <h2
      class="index__title"
      data-aos="fade-right"
      data-aos-duration="1200"
    >
      猜你也喜歡...
    </h2>

      <div
        class="overflow-hidden w-100"
        data-aos="fade-left"
        data-aos-duration="1200"
      >

        <div class="swiper-container js-swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div
                  class="card"
                >
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                      src="./assets/images/exhibition/exhibition-4.jpg"
                      alt="No.22 線上設計展"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      No.22 線上設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div class="card">
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                      src="./assets/images/exhibition/exhibition-5.jpg"
                      alt="行為藝術設計展"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      行為藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div class="card">
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                      src="./assets/images/exhibition/exhibition-6.jpg"
                      alt="瘋狂科學展"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      瘋狂科學展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div class="card">
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                      src="./assets/images/exhibition/exhibition-7.jpg"
                      alt="裝置藝術設計展"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      裝置藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div class="card">
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                      src="./assets/images/people2.png"
                      alt="2020 台味設計展"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      2020 台味設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="card-link-hover d-block"
              >
                <div class="card">
                  <div class="card-img-hover-linear
                    card-img-hover-text
                    img-position-center w-100
                    min-height-md-3 min-height-3"
                  >
                    <img 
                    src="./assets/images/exhibition/exhibition-8.jpg"
                      alt="金屬與藝術"
                      class="min-height-md-3 min-height-3"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      金屬與藝術
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

  </div>
</section>