<section class="py-12 py-md-30">
  <div class="container">
    <h2
      class="pages__title"
      data-aos="fade-right"
      data-aos-duration="1200"
    >
      猜你也喜歡...
    </h2>

      <div
        class="overflow-hidden w-100"
        data-aos="fade-left"
        data-aos-duration="1200"
      >

        <div class="swiper-container js-swiper overflow-hidden">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <a
                href="./onlineDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-線上-1.jpg"
                      alt="No.22 線上設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      No.22 線上設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-行為-1.jpg"
                      alt="行為藝術設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      行為藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-科學-2.jpg"
                      alt="瘋狂科學展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      瘋狂科學展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-裝置-1.jpg"
                      alt="裝置藝術設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      裝置藝術設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./taiwanDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-台味-2.jpg"
                      alt="2020 台味設計展 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      2020 台味設計展
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="#"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-金屬-2.jpg"
                      alt="金屬與藝術 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      金屬與藝術
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>

            <li class="swiper-slide">
              <a
                href="./kaohsiungDesignExhibition.html"
                class="text-dark colorHover--secondary d-block"
              >
                <div class="card">
                  <div class="card__img__hover__linear
                    card__img__text__hover
                    img-position-center w-100
                    min-h-x3.5 min-h-x3.45"
                  >
                    <img 
                      src="./assets/images/exhibition/pic-高雄-1.jpg"
                      alt="高雄設計節 - 展覽圖片"
                      class="min-h-x3.5 min-h-x3.45"
                    />
                  </div>

                  <div class="card-body pt-4 pt-md-2">
                    <h3 class="card-title fs-6 fw-bold">
                      高雄設計節
                      <span class="d-block mt-2 fw-light">
                        $350
                      </span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

  </div>
</section>