<section class="py-12 py-md-6xl">
  <div class="container">
    <h2 class="index__title">
      猜你也喜歡...
    </h2>

    <ul class="row justify-content-end">
      <li class="col-lg-4 mb-8 mb-lg-0">
        <div class="card border">
          <div class="img-position-center w-100
            min-height-md-3 min-height-3"
          >
            <img 
              src="./assets/images/exhibition/exhibition-4.jpg"
              alt="No.22 線上設計展"
              class="card-img-top
                min-height-md-3 min-height-3"
            />
          </div>

          <div class="card-body pt-4 pt-md-2">
            <h3 class="pages__text__2 fw-bold">
              No.22 線上設計展
              <span class="d-block mt-2 fw-light">
                $350
              </span>
            </h3>
          </div>
        </div>
      </li>

      <li class="col-lg-4 mb-8 mb-lg-0">
        <div class="card border">
          <div class="img-position-center w-100
            min-height-md-3 min-height-3"
          >
            <img 
              src="./assets/images/exhibition/exhibition-5.jpg"
              alt="No.22 線上設計展"
              class="card-img-top
                min-height-md-3 min-height-3"
            />
          </div>

          <div class="card-body pt-4 pt-md-2">
            <h3 class="pages__text__2 fw-bold">
              No.22 線上設計展
              <span class="d-block mt-2 fw-light">
                $350
              </span>
            </h3>
          </div>
        </div>
      </li>

      <li class="col-lg-4 col-xl-3">
        <div class="card border">
          <div class="img-position-center w-100
            min-height-md-3 min-height-3"
          >
            <img 
              src="./assets/images/exhibition/exhibition-6.jpg"
              alt="No.22 線上設計展"
              class="card-img-top
                min-height-md-3 min-height-3"
            />
          </div>

          <div class="card-body pt-4 pt-md-2">
            <h3 class="pages__text__2 fw-bold">
              No.22 線上設計展
              <span class="d-block mt-2 fw-light">
                $350
              </span>
            </h3>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>