<div class="container">
  <h1 class="order-lg-first flex-grow-1 fw-light">
    <a
      href="./index.html"
      class="navbar-brand
        d-block h-100
        m-0 py-10
        fs-5 lh-1
        text-center text-primary"
    >
      EXHIBINECTION
    </a>
  </h1>

  <button
    type="button"
    class="btn
      order-lg-last
      position-relative
      me-0 me-lg-n8
      px-3 px-md-8 my-10
      text-center"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
  >
    <span class="material-icons d-block align-middle">
      confirmation_number
    </span>
    <span class="badge
      position-absolute
      top-0 start-50
      rounded-pill
      text-light bg-secondary"
    >
      3
    </span>
  </button>

  <button
    type="button"
    class="navbar-toggler order-first
    py-7 px-3 px-md-8
    border-0"
    data-bs-toggle="collapse"
    data-bs-target="#navbarList"
    aria-controls="navbarList"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarList"
    class="collapse navbar-collapse flex-grow-0"
  >
    <ul class="navbar-nav align-items-center">
      <li class="nav-item mx-1">
        <a
          href="javascript:;"
          class="nav-link
            border__bottom__secondary
            my-3 px-6
            fs-7 lh-lg"
          aria-current="page"
        >
          Sign in
        </a>
      </li>
      <li class="nav-item mx-1">
        <a
          href="javascript:;"
          class="nav-link
            border__bottom__secondary
            my-3 px-6
            fs-7 lh-lg"
        >
          Sign up
        </a>
      </li>
    </ul>
  </div>
</div>