<section class="subscription position-relative">
  <div class="container h-100">
    <div class="row align-items-end
      pb-18 h-100"
    >
      <div class="col-12">
        <h4
          class="fs-3 lh-base fw-bold text-light text-shadow-sm
            mb-11"
          data-aos="fade-right"
          data-aos-duration="1300"
        >
          想收到展覽的最新消息嗎？ <br>
          快訂閱我們！
        </h4>

        <div
          class="row"
          data-aos="fade"
          data-aos-duration="1300"
        >
          <div class="col-md-7 col-lg-5 col-xl-4">

            <div class="input-group w-100">
              <input
                type="text"
                class="form-control p-6"
                name="訂閱 Email"
                placeholder="輸入您的電子信箱"
                aria-label="輸入您的電子信箱"
                aria-describedby="subscriptionEmail">
              <button
                type="button"
                id="subscriptionEmail"
                class="input-group-text
                  btn btn-secondary
                  px-5xl py-6"
              >
                訂閱
              </button>
            </div>
    
          </div>
        </div>
      </div>
    </div>

  </div>
</section>