<div class="position-fixed bottom-5 end-1">
  <a
    href="#"
    class="d-block bg-primary text-light
      rounded-circle rounded-2
      transform-y-1 transition-duration-1 
      px-5 py-5"
  >
    <i class="material-icons material-icons-round
      fs-2"
    >
      keyboard_arrow_up
    </i>
  </a>
</div>