.colorHover--secondary
  &:hover
    color: $secondary !important

.check-style-none
  &:checked
    box-shadow: none
  &:focus
    box-shadow: none

.transform-rotate-90
  transform: rotate(90deg)

.transform-y-1
  &:hover
    transform: translateY(-5px)

.transition-duration-1
  transition-duration: .2s